<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #02518a"
>
  <li class="navbar-brand offset-1 ml-2" style="list-style: none">ЕТФБЛ</li>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-6">
      <li class="nav-item active">
        <a class="px-2 nav-link" href="/adminProfile">Профил</a>
      </li>
      <li class="nav-item">
        <a class="px-2 nav-link" href="/registerStudent">Додавање студената</a>
      </li>
      <li class="nav-item">
        <a class="px-2 nav-link" href="/studentsList">Листа студената</a>
      </li>
    </ul>

    <ul class="navbar-nav col-4 justify-content-end">
      <li class="nav-item ml-auto">
        <a class="nav-link text-warning" href="#" onclick="logout()">Одјава</a>
      </li>
    </ul>
  </div>
</nav>
